@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body-cadastro {
width: 100vw;
height: 100vh;
background-color: #d3e7f3;
display: flex;
align-items: center;
justify-content: center;
}
#form-cadastro {
    height: 90vh;
    width: 60vw;
    border-radius: 10px;
    background-color: white;
}
#form-cadastro h1,p {
    text-align: center;
    margin-top: 2vh;
}
#form-cadastro p{
    font-size: 14px;
    color: gray;
}
#dados-pessoais {
    display: flex;
    width: 90%;
    align-items: center;
     gap: 30px;
     margin-left: 3vw;
     margin-top: 2vh;
}
#dados-pessoais h1 {
    font-size: 16px;
    color: #28a3db;  
}

#dados-pessoais hr {
    flex: 1;
    border: none;
    height: 1px;
    margin-top: 2vh;
    background-color: #e3e9f1;
}
